img {
    border: 1px solid #999;
    width: 98%;
    max-width: 860px;
}

p,
label {
    font:
        1rem 'Fira Sans',
        sans-serif;
}

input {
margin: 0.4rem;
}

h1 {
    font-family: 'ヒラギノ明朝 Pro W3', 'Hiragino Mincho Pro', 'Hiragino Mincho ProN', 'HGS明朝E', 'ＭＳ Ｐ明朝', serif;
    position: relative;
    padding: 1.5rem 2rem;
    -webkit-box-shadow: 0 2px 14px rgba(0, 0, 0, .1);
    box-shadow: 0 2px 14px rgba(0, 0, 0, .1);
}

h1:before,
h1:after {
    position: absolute;
    left: 0;
    width: 100%;
    height: 4px;
    content: '';
    background-image: -webkit-linear-gradient(315deg, #704308 0%, #ffce08 40%, #e1ce08 60%, #704308 100%);
    background-image: linear-gradient(135deg, #704308 0%, #ffce08 40%, #e1ce08 60%, #704308 100%);
}

h1:before {
    top: 0;
}

h1:after {
    bottom: 0;
}

a.tglbtn {
	display: block;
	text-align: center;
	vertical-align: middle;
	text-decoration: none;
	width: 120px;
	margin: auto;
	padding: 1rem 4rem;
	font-weight: bold;
	background: #4be01e;
	border: 6px outset #299c05;
	color: #fff;
	transition: 0.5s;
}
a.tglbtn:hover {
	background: #6ef246;
	border: 6px outset #4be01e;
	color: #fff;
}

.error {
    color: #D8000C;
    background-color: #FFD2D2;
    border: 1px solid #D8000C;
    padding: 10px 15px;
    border-radius: 5px;
    margin: 10px 0;
    font-family: Arial, sans-serif;
    font-size: 14px;
    max-width: 400px;
    line-height: 1.5;
}

.image-wrapper {
    margin: 10px 0;
    position: relative;
    border: 2px solid #e0e0e0;
    border-radius: 5px;
    overflow: hidden;
    background-color: #f9f9f9;
    margin-bottom: 20px;
}

.image-wrapper img {
    width: 100%;
    height: auto;
    display: block;
}

.image-wrapper img[src=""] {
    visibility: hidden;
}

.config_item{
    margin: auto;
}

fieldset {
    margin: 10px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border: 2px solid #ccc;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

fieldset div {
    flex: 0 0 48%; /* 幅を48%にして2列表示 */
    margin-bottom: 10px;
}

fieldset div label {
    margin-left: 5px;
}

.option_box label {
    display: flex;
    align-items: center;
    gap: 0 .5em;
    position: relative;
    max-width: 200px;
    margin-bottom: .4em;
    padding: .5em .7em;
    border: 1px solid #11d479;
    border-radius: 25px;
    background-color: #11d47926;
    cursor: pointer;
}

.option_box label:has(:checked) {
    background-color: #11d479;
    color: #fff;
}

.option_box label::before,
.option_box label:has(:checked)::after {
    border-radius: 50%;
    content: '';
}

.option_box label::before {
    width: 14px;
    height: 14px;
    background-color: #fff;
}

.option_box label:has(:checked)::after {
    position: absolute;
    top: 50%;
    left: calc(7px + .7em);
    transform: translate(-50%, -50%);
    width: 7px;
    height: 7px;
    background-color: #11d479;
}

.option_box input {
    display: none;
}

.checkbox label {
    display: flex;
    align-items: center;
    gap: 0 .5em;
    position: relative;
    max-width: 200px;
    margin-bottom: .4em;
    padding: .5em .7em;
    border: 1px solid #11d479;
    border-radius: 25px;
    background-color: #11d47926;
    cursor: pointer;
}

.checkbox label:has(:checked) {
    background-color: #11d479;
    color: #fff;
}

.checkbox label::before {
    width: 14px;
    height: 14px;
    border-radius: 1px;
    background-color: #fff;
    content: '';
}

.checkbox label:has(:checked)::after {
    position: absolute;
    top: 14px;
    left: 15px;
    transform: rotate(45deg);
    width: 4px;
    height: 8px;
    border: solid #11d479;
    border-width: 0 2px 2px 0;
    content: '';
}

.checkbox input {
    display: none;
}

.number-input-container {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    border: 2px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.number-input-container button {
    background-color: #11d47926;
    color: #fff;
    border: none;
    border-radius: 3px;
    padding: 5px 10px;
    font-size: 18px;
    cursor: pointer;
}

.number-input-container button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

.number-input-container input[type="number"] {
    width: 50px;
    text-align: center;
    font-size: 18px;
    margin: 0 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    padding: 5px;
}

.number-input-container button:hover {
    background-color: #11d479;
}